.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.traffic_light {
  scale: 2;
  padding: 8px;
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}

.red, .orange, .green {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid black;
}



.red.active {
  background-color: red;  
}
.orange.active {
  background-color: orange;
}
.green.active {
  background-color: green;   
}

.blinking {
  scale: 2;
}